.Asset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  background: linear-gradient(135deg, #f0f8ff, #b3e6ff);
  border-radius: 10px;
}
