.Button {
  font-size: 0.9rem;
  align-self: center;
  border-radius: 50px;
  border: none;
  padding: 6px 15px;
  margin: 0 5px;
  min-width: 80px;
  background-color: #2142b2;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.Button:hover {
  background-color: #1a337d;
  cursor: pointer;
  transform: scale(1.05);
}

.Button:active {
  background-color: #102459;
}

.Wide {
  padding: 10px 60px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #1a8cff;
  color: #ffffff;
}

.BlueOutline,
.Blue:hover {
  background-color: #ffffff;
  color: #1a8cff;
}

.Black,
.BlackOutline:hover {
  background-color: #333333;
  color: #ffffff;
}

.Black:hover,
.BlackOutline {
  background-color: #ffffff;
  color: #333333;
}

.Bright {
  background-color: #ffcc00;
  color: #2142b2;
}
