.Input {
  background: #f8f9fd;
  border: 1px solid #dde1ec;
  border-radius: 5px;
  padding: 12px;
  font-size: 1rem;
  text-align: center;
  color: #333333;
}

.Header {
  font-size: 18px;
  text-transform: uppercase;
  color: #2142b2;
}

.Link span {
  color: #1a8cff;
}
