body {
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e; /* Dark background */
  color: #ffffff; /* Bright text for contrast */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #292929; /* Darker code block background */
  color: #ff4d4d; /* Red text for fitness vibe */
  padding: 4px 6px;
  border-radius: 5px;
}
